<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>Document</title>
</head>
<script>
  function onPressParseSkoobHtml() {
    fetch('/parseSkoobHtml', { method: "POST" })
      .then(response => response.json())
      .then(data => alert(data))
      .catch(error => console.error(error));
  }
</script>

<body>
  <div class="grid">
    <div class="box">
      <button class="button" onclick="location.href='/books'">Books List</button>
    </div>
    <div class="box ">
      <button class="button" onclick="onPressParseSkoobHtml()">Parse Skoob HTML</button>
    </div>
  </div>
</body>

</html>